.grid-container {
    display: inline-grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    padding: 10px;
    gap: 10px;
    background-color: black;
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}